body
{
    padding: 50px;
    background-color: #ccf9fb;
    font-size: 125%;
    font-family: Arial, Helvetica, sans-serif;
}
.skip{
    position:absolute;
    left: -1000px;
}
.skip:focus{
    position:relative;
    left:0;
}
h1,h2
{
 padding: 10px;   
}
h1
{
    font-size: 200%;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/*Style for images*/
img
{

    width: auto;
    padding: 20px;
    margin: 20px;
    border: dashed red;

}